<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hello Cordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-admob-nextgen-native" spec="https://github.com/swaplab-engine/cordova-plugin-admob-nextgen-native.git"></plugin>
    <plugin name="cordova-plugin-admob-nextgen">
    <variable name="APP_ID_ANDROID" value="ca-app-pub-3940256099942544~3347511713" />
    <variable name="APP_ID_IOS" value="ca-app-pub-3940256099942544~1458002511" />
</plugin>
</widget>